<section id="contactus" class="contact-us-container">

    <section class="contact-us-info">
        <div class="row section-title-header"><h2>Contact US</h2></div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a><i class="fas fa-map-marker fa-7x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a class="address"><address>ابتدای جاده قدیم کرج، بعد از شیر پاستوریزه، خیابان فتح ۱۱، نبش گلبن دوم غربی، پلاک ۱۲</address></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a href="tel:02166802805"><i class="fas fa-phone-square fa-6x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="tel:02166802805" class="tel-number">۰۲۱-۶۶۸۰۲۸۰۵</a>
                <a href="tel:02166819455" class="tel-number">۰۲۱-۶۶۸۱۹۴۵۵</a>
                <a href="tel:02166819456" class="tel-number">۰۲۱-۶۶۸۱۹۴۵۶</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a href="tel:02166800082" title="Fax"><i class="fas fa-fax fa-6x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="tel:02166800082" class="tel-number" title="Fax">۰۲۱-۶۶۸۰۰۰۸۲</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a href="tel:09121061246" title="Mobile"><i class="fas fa-mobile-alt fa-6x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="tel:09121061246" class="tel-number" title="Mobile">۰۹۱۲۱۰۶۱۲۴۶</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a href="http://T.me/Laserafzar" target="_blank" title="Telegram"><i class="fab fa-telegram-plane fa-6x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="tel:http://T.me/Laserafzar" class="tel-number" target="_blank" title="Telegram">۰۹۱۹۸۲۳۱۰۵۷</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a href="https://www.instagram.com/iransabzcnc/" target="_blank" title="Instagram"><i class="fab fa-instagram fa-6x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="https://www.instagram.com/iransabzcnc/" target="_blank" title="Instagram">IranSabzCNC</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a><i id="contactus-toggle-button" class="far fa-envelope fa-6x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="mailto:support@Iransabz-cnc.com" class="email-address">support@IranSabz-cnc.com</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 contactinfo-icon">
                <a href="/ContactUs/UserContactUS"><i id="contactus-toggle-button" class="fas fa-file-alt fa-7x"></i></a>
            </div>
            <div class="col-xs-12 col-sm-10 contactinfo-desc">
                <a href="/ContactUs/UserContactUS">فرم تماس با ما</a>
            </div>
        </div>

    </section>
    <div style="float:none"></div>
</section>
